%p Name & Status

= form_for @basic_configuration do |f|
  .div
    = f.label :site_name
    = f.text_field :site_name
  .div
    = f.label :status
    = f.text_field :status
  .div
    = f.label :site_url
    = f.text_field :site_url

%p Features

= form_for @basic_configuration do |f|
  .div
    = f.label :variation
    = f.number_field :variation
  .div
    = f.label :default_behavior
    = f.text_field :default_behavior
  .div
    = f.label :enable_detect_variation
    = f.check_box :enable_detect_variation, {}, true, false
  .div
    = f.label :enable_AMPS
    = f.check_box :enable_AMPS, {}, true, false
  .div
    = f.label :enable_origin_experiements
    = f.check_box :enable_origin_experiements, {}, true, false

  .div
    = f.submit
